.container-col2 {
  overflow: hidden;
  position: relative;
  background: rgba(3, 3, 3, 0.3);
  padding: 0 10px ;
 /* justify-self: center;
  align-self: center;*/
}
.title-abs {
  position: absolute;
  font-family: "Bruno Ace SC";
  font-style: normal;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  -webkit-text-stroke: 0.5px #ffe300;
  color: transparent;
  z-index: 1;
  white-space: nowrap;
}
.flex {
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Container-carusel{
width: 100%;
}
.flex-span-col2 {
  display: flex;
  justify-content: space-between;
  
}
.flex-span-col2 > .yellow {
  color: #ffe300;
}
.ContainerFlex {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  place-content: center;
}

.ContainerImg {
  display: grid;
  grid-template-columns: 80px 1fr;
  max-width: 600px;
  
}

.img-absolute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.img-absolute > span {
  transform: rotate(-90deg);
  font-family: "Bruno Ace SC";
  font-style: normal;
  font-weight: 400;
}
.linea {
  width: 2px;
  height: 70%;
  background: rgba(128, 128, 128, 0.336);
}



.flex-img-swiper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  }

.mantine-1jkjqkp[data-active] {
    opacity: 1;
    background: #ffe300;
}
.mantine-19swgkw{
  padding-left: 71px;
  gap: 10px;
 bottom: -3rem;
}
.mantine-19swgkw >button{
  transform: skew(50deg, 0deg);
  width: 50px;
  height: 6px;
}
  @media (max-width: 584px){
    .mantine-19swgkw >button{
      transform: skew(50deg, 0deg);
      width: 38px;
      height: 5px;
    }
    .title-abs{
      -webkit-text-stroke: 1px #ffe300;
    }
  }