.container-col1 {
   justify-self: center;
   align-self: center;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}
.container-col1 > h2 ,.container-col1 > p{
    font-family: 'Bruno Ace SC';
    font-style: normal;
    font-weight: 400;
}
.container-col1 > p{
    font-size: 1.3rem;
    max-width: 714px;
}
.container-col1 > h2 {
    width: max-content;
    padding: 5px 0;
    border-bottom: 1px solid #ffe300;
    font-size: 4.3rem;
}
.video-youtube{
    max-width: 714px;
    height: 407px;
}
.video-youtube > video{
    width: 100%;
    height: 100%;
}