.container-col1 {
   justify-self: center;
   align-self: center;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   padding: 0 20px;
}
.container-col1 > h2 ,.container-col1 > p{
    font-family: 'Bruno Ace SC';
    font-style: normal;
    font-weight: 400;
}
.container-col1 > p{
    font-size: 1.3rem;
    max-width: 714px;
}
.container-col1 > h2 {
    width: max-content;
    padding: 5px 0;
    border-bottom: 1px solid #ffe300;
    font-size: 4.3rem;
}
.video-youtube{
    max-width: 714px;
    max-height: 407px;
}
.video-youtube > video{
    width: 100%;
    height: 100%;
}

/**Responsive aqui*/
@media (max-width: 1141px){
    .container-col1{
       justify-content: center;
       align-items: center;
    }
    .container-col1 > p{
        text-align: center;
    }
}

@media (max-width: 543px){
    .container-col1 > h2 {
        font-size: 3rem;
    }
    .container-col1 > p{
        font-size: 1rem;
    }
}
@media (max-width: 400px){
    .container-col1 > h2 {
        font-size: 2rem;
    }
    .container-col1 > p{
        font-size: 0.8rem;
    }
}