.grid-main {
  overflow: hidden;
  padding: 0 50px;
  border: 0px solid red;
  display: grid;
  width: 100%;
  height: calc(100vh - 70px);
  grid-template-areas:
    "title title img2 "
    "textmain img1 img2";
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
}
.title-main {
  grid-area: title;
  align-self: center;
  padding: 0 50px;
}
.title-main > h1 {
  width: max-content;
  position: relative;
  font-size: 8rem;
  font-family: "Bruno Ace SC";
  font-style: normal;
  font-weight: 400;

  line-height: 116px;
}
.title-main > h1::before {
  position: absolute;
  content: "[ドセット]";
  top: -50px;
  font-size: 1rem;
  right: -50px;
}

.text-info-main {
  justify-self: center;
  align-self: center;
  /*width: 520px;*/
  grid-area: textmain;
  font-family: "inter";
  padding: 30px;
}
.text-info-main .chine {
  color: #ffe300;
}
.img-1-main {
  position: relative; /**quitar width y heig*/
 /* width: 689px;
  height: 408px;*/
  justify-self: end;
  align-self: center;
  padding: 20px 0;
  grid-area: img1;
}

.img-2-main {
  grid-area: img2;
  height: 658px;
  width: 438px;
  justify-self: center;
}

.img-1-main  > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: top !important;
  }

  @media (max-width: 1505px){
    .title-main > h1{
      font-size: 6rem;
    }
  }


  @media (max-width: 1341px){
    .title-main {
      padding: 0 0;
      justify-self: start;
      align-self: end;
    }
    .title-main > h1 {
      line-height: normal;
    }
    .grid-main {
      grid-template-areas:
        "title title img2 "
        "textmain textmain img2"
        "img1 img1 img2";
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 10px;
    }
    .text-info-main {
      justify-self: start;
      align-self: start;
      padding: 0px;
    }
    .img-2-main {
      grid-area: img2;
      justify-self: center;
      align-self: center;
    }
    .img-1-main{
      grid-area: img1;
      justify-self: start;
      align-self: start;
    }
  }
  @media (max-width: 1193px){
    .title-main > h1{
      font-size: 5rem;
    }
    .img-2-main {
      grid-area: img2;
      justify-self: center;
    }
  }

  @media (max-width: 1082px){
    .img-2-main {
      display: none;
      grid-area: img2;
      justify-self: center;
    }
    .grid-main {
      grid-template-areas:
        "title title  "
        "textmain textmain "
        "img1 img1";
      grid-template-rows: 1fr 300px 400px;
      column-gap: 10px;
    }
  }